@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
    @apply text-slate-80;
    font-size: 24px;
  }
  /*   @media screen and (max-width: 4000px) {
    html {
      font-size: 8px;
    }
  }
  @media screen and (min-width: 7000px) {
    html {
      font-size: 20px;
    }
  } */

  /* 8K - 7680 x 4320 pixels
  16K - 15360 x 8640 pixels <- probably resolutions for 4x4 with 4K displays
  */

  body {
    -webkit-font-smoothing: antialiased;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  #root,
  #__next {
    isolation: isolate;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

@layer components {
  .react-clock {
    display: block;
    position: relative;
  }

  .react-clock > .react-clock__face {
    @apply absolute inset-0 rounded-full border-2 border-black-100;
  }

  .react-clock > .react-clock__hand {
    @apply absolute bottom-0 left-1/2 right-1/2 top-0;
  }

  .react-clock > .react-clock__hand > .react-clock__hand__body {
    @apply absolute -translate-x-1/2 rounded-md bg-black-100;
  }

  .react-clock > .react-clock__face > .react-clock__mark {
    @apply absolute bottom-0 left-1/2 right-1/2 top-0;
  }

  .react-clock
    > .react-clock__face
    > .react-clock__mark.react-clock__hour-mark:nth-child(3n)
    > .react-clock__mark__body {
    @apply absolute -translate-x-[50%] translate-y-0 rounded-full bg-slate-80/60;
  }
  /*   .react-clock
    > .react-clock__face
    > .react-clock__mark.react-clock__hour-mark:nth-child(3n - 1)
    > .react-clock__mark__body,
  .react-clock
    > .react-clock__face
    > .react-clock__mark.react-clock__hour-mark:nth-child(3n - 2)
    > .react-clock__mark__body {
    @apply absolute h-[30px] -translate-x-[50%] translate-y-0 rounded-md bg-slate-80/40;
  } */
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: theme(colors.slate.80);
  }
}
