@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  4K - 4096 x 2160 pixels
  8K - 8192 x 4320 pixels <- 2x2 with 4K displays
  16K - 16384 x 8640 pixels <- 4x4 with 4K displays
  */
@layer base {
  html {
    font-family: theme('fontFamily.sans');
    @apply text-slate-80;
    font-size: 20px;
  }
  @media screen and (min-width: 4000px) {
    html {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 6000px) {
    html {
      font-size: 36px;
    }
  }
  @media screen and (min-width: 7500px) {
    html {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 9500px) {
    html {
      font-size: 46px;
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  #root,
  #__next {
    isolation: isolate;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  video {
    @apply aspect-auto h-full w-full;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: theme(colors.slate.80);
  }
  .fade-in-black-gradient {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.8) 100%);
  }

  .black-right-gradient {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .black-left-gradient {
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .black-bottom-gradient {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4) 25%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .black-top-gradient {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4) 25%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .white-right-gradient {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .white-left-gradient {
    background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .white-bottom-gradient {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.4) 25%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .white-top-gradient {
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.4) 25%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  @starting-style {
    .starting-hidden {
      opacity: 0;
    }
  }
}
